* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
  font-weight: 400; /* Default weight */
  color: #707070;
  scroll-behavior: smooth;
}
